@charset "UTF-8";
@font-face {
    font-family: 'FonteLogo';
    src: url(../fonts/Orbitron-Regular.ttf);
}

html,
body {
    width: 100%;
    height: 100%;
}

html {
    background-color: #2b2a30;
    overflow-x: hidden;
}

body {
    font-family: 'Lato', Arial, sans-serif;
    font-size: 120%;
    letter-spacing: .1em;
}

h1,
h2,
h3,
h4 {
    text-transform: uppercase;
    line-height: 1.5em;
    color: #ff6600;
    font-family: 'FonteLogo';
}

h3::after {
    width: 100px;
    height: 1px;
    background-color: #ff6600;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 20px;
}

h4::after {
    width: 50px;
    height: 1px;
    background-color: #ff6600;
    display: block;
    content: " ";
    margin: 0 auto;
    margin-top: 20px;
}

button {
    border: .1em solid #ff6600;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: .5em 1em;
    font-size: 1em;
    background-color: transparent;
    color: #ff6600;
    margin: 2%;
}

button:hover,
button:focus {
    background-color: #ff6600;
    cursor: pointer;
    color: #fff;
    transition: all .5s ease-in;
}

#pos-logo {
    padding: 0;
    position: fixed;
    top: 1%;
    left: 2%;
    outline: none;
    z-index: 4;
}

.menu2 {
    display: none;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, .1);
    transition: background-color 1s;
    font-size: 1.5em;
}

#logo2 {
    max-width: 100%;
}

.menu2 li {
    display: inline-block;
    margin: .2em;
    vertical-align: middle;
}

.menu2 a {
    color: #888;
    text-decoration: none;
    transition: color .5s, padding-bottom .5s, border-bottom .5s;
}

.menu2 a:hover {
    padding-bottom: .3em;
    border-bottom: .2em solid #ff6600;
    color: #ff6600;
}

body#home a#hoA,
body#about a#p1A,
body#formacao a#p2A,
body#contato a#p3A {
    padding-bottom: .3em;
    cursor: default;
    border-bottom: .2em solid #ff6600;
    color: #888;
}

.menu {
    text-align: right;
    text-transform: uppercase;
    width: 100%;
    position: fixed;
    top: 0;
    right: 0;
    box-sizing: border-box;
    z-index: 3;
    background-color: rgba(0, 0, 0, .1);
    transition: background-color 1s;
    font-size: .8em;
}

.troca-fundo {
    background-color: rgba(255, 255, 255, 1);
}

.menu li {
    display: inline-block;
    margin: 1em;
    height: 2em;
    padding: .1em;
}

.menu a {
    color: #888;
    text-decoration: none;
    transition: color 1s, padding-bottom 1s, border-bottom .5s;
}

.menu a:hover {
    padding-bottom: .3em;
    border-bottom: .2em solid #ff6600;
    color: #ff6600;
}

.menu .fa {
    font-size: 1.5em;
}

.fa-facebook {
    color: #3b5998;
    transition: color 1s;
}

.fa-facebook:hover,
.fa-twitter:hover {
    color: #ff6600;
}

.fa-twitter {
    color: #55acee;
    transition: color 1s;
}

body#home a#ho,
body#about a#p1,
body#formacao a#p2,
body#contato a#p3 {
    padding-bottom: .3em;
    cursor: default;
    border-bottom: .2em solid #ff6600;
    color: #888;
}

footer {
    background-image: radial-gradient(ellipse at left bottom, rgba(255, 102, 0, 0.8), rgba(255, 102, 0, 0.8) 65%, black 65%, black 70%, transparent 70%, transparent);
    min-width: 100%;
    background-size: 250px 100%;
    background-repeat: no-repeat;
    color: #fff;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    box-sizing: border-box;
    font-size: .8em;
    line-height: 1em;
}

@media (max-width:768px) {
    .menu,
    #logo {
        display: none;
    }
    .menu2 {
        display: block;
    }
}

@media (max-width:380px) {
    .menu2 {
        font-size: 1.2em;
    }
}